
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About <span>Us</span>
                            </h2>
                        </div>
                        <p>
                            Import & Export Trransport Services. This Services are available on internationl business  transport services. 
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="../Content/images/about-img.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

