@model  ImportExpoertServices_MVC.Models.TblUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<center>
    <br />
    <br />
    <br />
    <br />
    <br />

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <table style="background-color:Yellow" height="450px" width="400px">
            <tr>
                <td colspan="2" align="center"><h1>Sign In</h1></td>
            </tr>
            <tr>
                <td>
                    Username
                </td>
                <td>@Html.TextBoxFor(a => a.userName)</td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>@Html.TextBoxFor(a => a.pass)</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="Submit Now" name="Submit" id="btnSubmit" style="background-color:Red; color:white" />
                </td>
            </tr>

        </table>

    }

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>



